[submodule "utopia"]
	path = utopia
	url = https://github.com/LogicEu/utopia.git
[submodule "fract"]
	path = fract
	url = https://github.com/LogicEu/fract.git
[submodule "photon"]
	path = photon
	url = https://github.com/LogicEu/photon.git
[submodule "imgtool"]
	path = imgtool
	url = https://github.com/LogicEu/imgtool.git
[submodule "glee"]
	path = glee
	url = https://github.com/LogicEu/glee.git
[submodule "gleex"]
	path = gleex
	url = https://github.com/LogicEu/gleex.git
[submodule "glui"]
	path = glui
	url = https://github.com/LogicEu/glui.git
[submodule "ethnic"]
	path = ethnic
	url = https://github.com/LogicEu/ethnic.git
[submodule "nano"]
	path = nano
	url = https://github.com/LogicEu/nano.git
[submodule "mass"]
	path = mass
	url = https://github.com/LogicEu/mass.git
